{{ if .Site.Params.Feat.googleTagManager }}
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ .Site.Params.Feat.googleTagManager }}"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
{{ end }}

{{ if .IsHome }}
  {{ if not .Site.Params.header_use_video }}
  <header class="row middle-xs center-xs bg lazyload">
    <div class="col-xs-12" id="HeadLine">
      {{ partial "logo-img.html" . }}
      {{ with .Site.Params.mdTagline -}}
          <!-- {{ (replace (. | markdownify) "{cursor}" "<span class=\"cursor\">|</span>") | safeHTML }} -->
          {{ (. | markdownify) | safeHTML }}
      {{- else -}}
          <h1>{{ .Site.Params.tagline }}</h1>
      {{- end }}
      <noscript>
      <h2>{{ partial "icon" "warning" }}</h2>
      <h2>{{ i18n "noJsMsg" }}</h2>
      </noscript>
    </div>
  </header>
  {{ else }}
  <header class="row middle-xs center-xs">
    <div class="bg-video" style="background-image: url('images/background.webp');">
      {{ if .Site.Params.header_use_video }}
          {{- partial "custom_header_video.html" . -}}
      {{ end }}
    </div>
  </header>
  {{ end }}
{{ end }}

<nav class="row middle-xs center-xs {{ if not .IsHome -}} nav-fixed nav-shadow {{- end }}">
  <div class="col-xs-6 col-sm-1 logo" style="{{ if not .IsHome }}visibility: visible;{{- end }}">
    <a href="{{ "#" | relLangURL }}">
      {{ partial "lazyimg" (dict 
        "img" (resources.Get .Site.Params.logoSmall)
        "maxsize" (default "96x" site.Params.Image.NavLogo.resize)
        "lqipsize" (default "16x" site.Params.Image.NavLogo.resize)
        "resizeoptions" (default "q92 Gaussian" site.Params.Image.NavLogo.resizeOptions)
        "alt" "Home"
        "renderer" "webp"
        "noscript" false
      ) }}
    </a>
  </div>
    {{ range .Site.Menus.main }}
      <div class="col-xs-3 col-sm-2 nav-item">
        {{ if or (hasPrefix .URL "/#") (hasPrefix .URL "#") }}
          <h4><a href="{{ .URL }}">{{ .Pre }}{{ or (T .Identifier) .Name | safeHTML }}</a></h4>
        {{ else }}
          <h4><a href="{{ relLangURL .Identifier }}">{{ .Pre }}{{ or (T .Identifier) .Name | safeHTML }}</a></h4>
        {{ end }}
      </div>
    {{ end }}

  <div class="col-xs-6 col-sm-1 nav-toggle" style="{{ if not .IsHome -}} visibility: visible; {{- end }}">
      <a href="" class="nav-icon" onclick="return false">
        <i class="icon icon-2x icon-menu"></i>
      </a>
  </div>
</nav>

<section class="nav-full row middle-xs center-xs">
  <div class="col-xs-12">
    <div class="row middle-xs center-xs">
      {{ range .Site.Menus.main }}
        <div class="col-xs-12"><h1><a href="{{ .URL }}">{{ .Pre }}{{ or (T .Identifier) .Name | safeHTML }}</a></h1></div>
      {{ end }}
    </div>
  </div>
</section>
